<!DOCTYPE html>
<html lang="en">
<head>
    <title>Upload Package</title>
</head>
<body>
<header>
    <h1>Suites</h1>
</header>
<main>
    {% if loggedIn %}
        <h2>Create suite</h2>
        <form action="/ui/suites/create" method="post" enctype="multipart/form-data">
            <label>
                Codename:
                <input name="codename" type="text" autocomplete="on" pattern="[A-Za-z]{1,32}" />
            </label>
            <label>
                Suite:
                <input name="suite" type="text" autocomplete="on" pattern="[A-Za-z]{1,32}" />
            </label>
            <button type="submit">Create</button>
        </form>
        <hr />
    {% endif %}
    <h2>All suites</h2>
    <table>
    {% for suite in suites %}
        <tr>
            <td>{{ suite.codename }} - {{ suite.suite }}</td>
            <td>
                <form method="post" action="/ui/suites/delete" enctype="multipart/form-data">
                    <input type="hidden" name="codename" value="{{ suite.codename }}" />
                    <input type="hidden" name="suite" value="{{ suite.suite }}" />
                    <input type="submit" value="Remove" />
                </form>
            </td>
        </tr>
    {% endfor %}
    </table>
</main>
<footer>
    <hr/>
    <a href="/ui/">Back to repository info</a>
</footer>
</body>
</html>
