<!DOCTYPE html>
<html lang="en">
<head>
    <title>Upload Package</title>
</head>
<body>
    <h1>Upload package</h1>
    <form action="/ui/upload" method="post" enctype="multipart/form-data">
        <input name="package" type="file" accept=".deb"/>
        <button type="submit">Upload</button>
    </form>
    <br/>
    <br/>
    <br/>
    <div>
        <div>curl -fsSL http://192.168.178.55:3030/ui/pgp-key.public | sudo apt-key add -</div>
    </div>
</body>
</html>
